doctype 5
html(lang="fr")
  head
    title= "Container" + container.Config.Hostname
    != css("application")
    script(type="text/javascript", src='/socket.io/socket.io.js')
    != js("application")
    != js("websocket/show")
  
  body
    .title
      h1="Acadock " + container.Config.Hostname + " Container"
    
    div#gobackbtn
      .gobtn
        a(href="/") Menu
    ul.container-info#container-config
      li ID&nbsp;
        span#container-id=container.Id
      li= "Name " + container.Config.Hostname
      li= "Created " + container.Created
      li= "Image " + container.Image
      li= "CMD " + container.Config.Cmd
      li= "IP " + container.NetworkSettings.IpAddress
      li= "Port binding " + _.map(container.NetworkSettings.PortMapping, function(k, v) { return "" + k + " → " + v })
      li= "Status"
        span.statuslight
          if !container.State.Running
            .lightdown
          else 
            .lightup

    div#real-time-container 
      .charts
        .charts-container
          .smoothie-graph
            .cpu-graph
              p CPU USAGE
              canvas#chartcanvas
            .mem-graph
              p MEMORY USAGE
              canvas#chartmemcanvas
      pre#container-attachment
        code



