doctype 5
html(lang="fr")
  head
    title= "Container" + container.Config.Hostname
    != js("application")
    != css("application")
  
    body
      h1="Acadock " + container.Config.Hostname + " Container"

      ul.container-info#container-config
        li= "ID " + container.Id
        li= "Name " + container.Config.Hostname
        li= "Created " + container.Created
        li= "Image " + container.Image
        li= "CMD " + container.Config.Cmd

